*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: #926239;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-image: url('https://lh4.googleusercontent.com/izjUGojbKOn5TxO5qNIMugfmDa9HRycK4FLoja7uSk4-2Fq3DgoNdBTt_Yuf1OYbfxXMlelfIrhyPWo=w1846-h948');
  background-size: cover;
  background-position: center;
}
h1{
  font-size: 40px;
  font-weight: bold;
}
.main-section{
  display: flex;
  flex-direction: column;
}
.bc-brown {
  background-color: #926239;
  color: white;
}
.p-20 {
  padding: 20px;
}

.footer-section {
  display: flex;
  text-align: left;
}
button{
  margin-top: 20px;
  width: 120px;
  height: 50px;
  color: #926239;
  background:transparent;
  border: 1px solid #926239;
  border-radius: 10px;
}
button:hover{
  background-color:#926239;
  color: white;
}
@media screen and (max-width:600px){
  .footer-section {
    flex-wrap: wrap;
}
}
